* {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  color: #000;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario {
  padding: 20px;
  
  background-color: greenyellow
}

.formulario__title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000;
  background-color: greenyellow
}

.campo {
  padding: 10px;
  display: flex;
  background-color: greenyellow
}
